# dependencies
node_modules

# output
out
dist
*.tgz

# coverage
coverage
*.lcov

# logs
logs
*.log

# env files
.env
.env.local
.env.*.local

# caches
.eslintcache
.cache
*.tsbuildinfo

# foundry
cache/

# editors
.idea
.vscode

# os
.DS_Store
Thumbs.db
