name: Publish

on:
  release:
    types: [published]
  workflow_dispatch:
    inputs:
      dry-run:
        description: "Dry run (don't publish)"
        required: false
        default: "true"

permissions: {}

jobs:
  publish:
    name: Publish to npm
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false
          submodules: recursive

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1

      - uses: actions/setup-node@v4
        with:
          node-version: "20"
          registry-url: "https://registry.npmjs.org"

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Type check
        run: bun run typecheck

      - name: Run tests
        run: bun run test

      - name: Publish server
        if: ${{ github.event.inputs.dry-run != 'true' }}
        run: bun publish --access public
        working-directory: packages/server
        env:
          NPM_CONFIG_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Publish server (dry run)
        if: ${{ github.event.inputs.dry-run == 'true' }}
        run: bun publish --access public --dry-run
        working-directory: packages/server
